/* stylelint-disable */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

%flex-frap {
  display: flex;
  flex-wrap: wrap;
}
