body {
  font-family: "Open Sans", sans-serif;
  background-color: $backgroundbody;
}
.wrapper {
  @include flex-center;
  flex-direction: row;
}
.container {
  @extend %flex-frap;
  justify-content: center;
  margin: 111px 70px;
  @include gap;
}
