//color text
$header_color: #6e798c;
$h2_color: #081f32;
$article_color: #374a59;
$footer_color: #007ae9;
//background
$backgroundbody: #eff0f3;
$whitecolor: #ffffff;
//background img card
$color_card1: #bcd1ff;
$color_card2: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
$color_card3: #d2ebf7;
//size card
$widhtCard576: 400px;
$widhtCard768: 318px;
$widhtCard1280: 1002px;
//size img_wrapper
$widhtImgWrap576: 128px;
$heightImgWrap576: 100%;
$widhtImgWrap768: 100%;
$heightImgWrap768: 168px;
$widhtImgWrap1280: 400px;
$heightImgWrap1280: 100%;
//margin text_block
$margtext_block576: 25px 24px 25px 30px;
$margtext_block768: 14px 24px;
$margtext_block1280: 32px 40px 32px 35px;
//margin text_block > h2
$margin_h2_576: 16px 0 0 0;
$margin_h2_768: 10px 0 4px 0;
$margin_h2_1280: 25px 0 15px 0;
//margin footer card
$margfooter768: 14px 0 0px 0;
$margfooter1280: 25px 0 0px 0;
//gap
$gap576: 32px;
$gap576: 64px;
$gap576: 32px;
